{% extends 'base.html.twig' %}

{% block title %}Tester{% endblock %}

{% block body %}





        <div class="table">
            <div class="table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 col-12">




                            {{ user2.email }}

                        </div>
                    </div>
                </div>
            </div>
        </div>






{% endblock %}