{% extends 'base.html.twig' %}

{% block title %}Tester{% endblock %}

{% block body %}



    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner">
                    <img src="assets/img/mid-banner1.jpg" alt="#">
                    <div class="content">
                        <p>Top Collectons</p>
                        <h3>Women's Shirt <br>Up to<span> 50%</span></h3>
                        <a href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}